@include mq-mobile {
  .about {
    padding: 120px 20px;
    h2 {
      padding-bottom: 15px;
      text-align: center;
    }
    p {
      line-height: 1.6;
      margin: 20px 0;
      max-width: 500px;
    }
  }
}

@include mq-tablet {
  .about {
    p {
      margin: 10px auto;
      max-width: 600px;
    }
  }

}
