@include mq-mobile {
  .about {
    padding: 25% 10%;
    h2 {
      padding: 70px 0 15px 0;
      text-align: center;
    }
    p {
      font-family: $sourceFontFamily;
      font-weight: $lightFontWeight;
      line-height: 1.6;
      margin: 20px 0;
    }
  }
}

@include mq-tablet {
  .about {
    padding: 10% 5%;
  }

}
