@include mq-mobile {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: $baseFontSize;
  }

  h1, h2, h3, h4 {
    font-family: $sourceFontFamily;
  }

  h1 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-weight: 600;
    font-size: 2.4rem;
  }

  ul {
    list-style: none;
  }

  p, a {
    font-size: 2.2rem;
  }

  section {
    margin: 0 auto;
  }

  svg {
    height: 100px;
    width: 100px;
  }

  .fas, .fab {
    font-size: 2.5rem;
  }

  .social-media {
    a.fab {
      text-decoration: none;
      transition: 300ms;
      &:hover {
        transform: scale(1.25);
        transition: ease-in-out 300ms;
      }
    }
  }
  .italic {
    font-style: italic;
  }
}

@include mq-tablet {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  svg {
    height: 150px;
    width: 150px;
  }
}

@include mq-desktop {
  .wrapper {
    max-width: 1080px;
    width: 75%;
    margin: 0 auto;
  }

  .fas, .fab {
    font-size: 3rem;
  }

}

@include mq-retina {

}