@include mq-mobile {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: $baseFontSize;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25em;
  }

  p, a {
    font-size: 2rem;
  }

  main {
    margin: 0 auto;
    padding: 0 20px;
  }

  .far, .fab {
    font-size: 3rem;
  }
  
}

@include mq-tablet {

}

@include mq-desktop {

}

@include mq-retina {

}