@include mq-mobile {
  footer {
    background: $black;
    color: $white;
    font-family: $poppinsFontFamily;
    padding: 10%;
    & p:nth-of-type(1) {
      font-size: 2rem;
      text-align: center;
    }
    p {
      padding: 30px 0;
    }
    .footer-nav {
      text-align: center;
      li {
        padding: 10px 0;
        &.icon {
          margin: 40px 0 20px;
        }
      }
    }
  }
}

@include mq-tablet {

}

@include mq-desktop {

}

@include mq-retina {

}