@include mq-mobile {
  footer {
    text-align: center;
    height: 120px;
    padding: 20px 0;
  }
}

@include mq-tablet {
  footer {
    height: min-content;
    .social-media {
      display: grid;
      a.fab {
        color: $lightGrey;
        &:hover {
          color: $white;
        }
      }
    }
    .twitter {
      display: block;
    }
    .twitter {
      height: 100px;
      width: calc(100% / 3);
    }
  }

}

@include mq-desktop {
  footer {

    .social-media {
      background: $black;
      height: 70px;
      margin-top
      a.fab {
        color: $lightGrey;
        &:hover {
          color: $white;
  
        }
      }
    }

  }

}

@include mq-retina {

}