@include mq-mobile {
  header {
    background: $black;
    display: flex;
    justify-content: space-between;
    padding: 10%;
    h4 {
      color: $white;
      font-family: $poppinsFontFamily;
      font-size: 2.2rem;
      font-weight: $lightFontWeight;
    }

    a {
      color: $white;
      text-decoration: none;
    }

    .menu {
      display: none;
    }
  }
}

@include mq-tablet {
  header {
    padding: 5%;
    .menu {
      display: block;
      li {
        display: inline;
        margin-left: 20px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

@include mq-desktop {
  header {
    h4, a {
      font-size: 2.4rem;
    }
  }

}

@include mq-retina {

}