// @import "./fontawesome/scss/fontawesome.scss";
// @import "./fontawesome/scss/brands.scss";

@include mq-mobile {
  section {
    background: $white;
  }
  p {
    margin: 20px 0;
  }
  .image-wrapper {
    display: grid;
    justify-items: safe center;
    .profile {
      background: $white;
      border-radius: 50%;
      border: 0.5px dotted $black;
      width: 100%;
      max-width: 150px;
    }
  }
  .social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: safe center;
    a.fab {
      color: $black;
      text-decoration: none;
      transition: 300ms;
      &:hover {
        color: $iconHover;
        transform: scale(1.25);
      }
    }
  }
  // .twitter {
  //   @extend %fa-icon;
  //   @extend .fab;
  
  //   &:before {
  //     content: fa-content($fa-var-twitter);
  //   }
  // }
}

@include mq-tablet {

}

@include mq-desktop {

}

@include mq-retina {

}