@include mq-mobile {
  .bio {
    background: $black;
    color: $white;
    padding: 25% 10%;
    h1 {
      padding: 0 0 45px 0;
      width: 75%;
    }

    .subheading {
      font-family: $sourceFontFamily;
      font-size: 1.8rem;
      font-style: italic;
      font-weight: 300;
      margin: 50px 0 95px;
    }

    .image-wrapper {
      border: 1px solid $white;
      .profile {
        height: 100%;
        max-width: 400px;
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

@include mq-tablet {
  .bio {
    padding: 10% 5%;
    h1 {
      padding: 0;
    }
    .subheading {
      font-size: 2.2rem;
      margin: 70px 0;
    }
  }
}

@include mq-desktop {
  .bio {
    .subheading {
      font-size: 2.4rem;
    }
  }

}
