@include mq-mobile {
  .mobile-menu-wrapper {
    display: flex;
    justify-content: center;
  }

  .mobile-nav {
    align-items: center;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    transition: bottom 500ms ease-in-out;
    text-align: center;
    transform: translateY(-100%);
    width: 100%;
    z-index: 1;
    &.expanded {
      background: $black;
      transform: translate(-39%, 5%);
      a {
        animation: 1s fadeIn;
        animation-fill-mode: forwards;
      }
    }
    a {
      display: inline-block;
      height: 40px;
      width: 110px;
      &:hover, &:active, &:focus {
        color: $basaltGrey;
        border-bottom: 1px solid $basaltGrey;
      }
    }

    li {
      margin: 30px 0;
      text-align: center;
      &:last-of-type {
        margin: 0;
      }
    }
  }

  .menu-button {
    background: none;
    border: none;
    box-shadow: none;
    cursor: 'pointer';
    user-select: none;
    z-index: 2;
    .fa-bars {
      color: $white;
      background: $transparent;
    }
    &.expanded {
      .fa-bars {
        &::before {
          content: 'X';
          font-family: $poppinsFontFamily;
        }
      }
    }
  }


  @keyframes fadeIn {
    0% {
      filter: opacity(0);
    }
    25% {
      filter: opacity(0.25);

    }
    50% {
      filter: opacity(0.5);

    }
    75% {
      filter: opacity(0.75);

    }
    100% {
      filter: opacity(1);
    }
  }
}

@include mq-tablet {
  .mobile-menu-wrapper {
    display: none;
  }
}