@include mq-mobile {
  .skills {
    background: $white;
    height: 100%;
    min-height: 350px;
    padding: 25% 0;
    h2 {
      display: inline;
    }
    details {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    summary {
      display: list-item;
      padding-bottom: 25px;
      text-align: center;
      &::marker {
        font-size: 2.5rem;
      }
    }
    .svg-container {
      align-content: center;
      align-items: center;
      display: grid;
      grid-auto-rows: 110px;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
    }
  }
}

@include mq-tablet {
  .skills {
    padding: 10% 5%;
    summary {
      padding: 70px 0;
      &::marker {
        font-size: 2.8rem;
      }
    }
  }
}

@include mq-desktop {
  svg {
    transition: transform 300ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}
